* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  background-color: rgb(247, 247, 247);
}

.green {
  color: rgb(20, 200, 146);
}

.blue {
  color: rgb(0, 119, 255);
}

.red {
  color: red;
}

.friends {
  background-color: #ffffff;
  border: 1px solid rgb(212, 212, 212);
  width: 400px;
  padding: 1rem;
}

.friends ul {
  padding: 0;
  margin: 0;
  list-style-type: none; 
}

.friends ul li {
  
}